<div class="hero-unit">
    <h2>TouK Reddit</h2>
    <section id="main">
        <ul id="link-list">
            <li>
                <div>
                    <span>10</span>
                    <a>+</a>
                    <a>-</a>
                    <a href="http://devrates.com">http://devrates.com</a>
                </div>
            </li>
        </ul>
        <form name="add">
            Dodaj link: <input type="url" name="input"/>
            <div class="clearfix"></div>
        </form>
    </section>
</div>
